<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="row">
    <% list.movies.each_slice(3).each_with_index do |slice, index| %>
      <div class="carousel-inner">
        <div class="carousel-item <%= index.zero? ? 'active' : '' %> m-50">
          <div class="carousel-wrapper">
            <% slice.each do |movie| %>
              <div class="col-12 col-lg-4 ml-6" id="movie-flex">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-<%= movie.id %>">
                  <%= render "movielist", movie: movie %>
                </button>
              </div>
              <div class="modal fade" id="modal-<%= movie.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"><%=movie.title%></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= render 'moviecard', movie: movie%>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
