<div class="container mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div id="movie-card">
        <% unless @list.movies.empty? %>
        <h1 class="big-title-div">Movie infos</h1>
        <%= render 'moviecard', movie: @list.movies.first %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="container-list">
        <div class="big-title-div">
          <h1 class="list-title"><%= @list.name %></h1>
          <h3 class="subtitle"><span class="red-char bold-number"><%= @list.movies.size %></span> Film<%=@list.movies.size>1 ? "s" : ""%></h3>
           <% if @list.user == current_user %>
            <% unless @list.movies.empty? %>
                <div class="container-addfilm">
                  <div class="form-add">
                    <% if @list.user == current_user %>
                      <%= link_to  "Add a Movie", new_list_bookmark_path(@list), class: "main-button"%>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <div class="form-add">
                <% if @list.user == current_user %>
                  <%= link_to  "Add a Movie", new_list_bookmark_path(@list), class: "main-button"%>
                <% end %>
                </div>
              <% end %>
            <% end %>
        </div>
         <div class="container-grid">
            <div class="cards-grid">
              <% @list.movies.each do |movie| %>
                <% bookmark = movie.bookmarks.find_by(list: @list) %>
                <% moviebookmark = Moviebookmark.find_by(bookmark: bookmark, movie: movie ) %>
                <%= render 'movielist', movie: movie, moviebookmark: moviebookmark %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
